
    <a href="/main" class="badge badge-primary">top</a>
    <a href="/tlist" class="badge badge-primary">一覧</a>
    <a href="/newp" class="badge badge-primary">投稿</a>
    <div >
    <p><%= @post.title %></p>
    <hr>
    <pre><%= @post.body %></pre>
    </div>