  <div class="list">
      <% @posts.each do|post| %>
  <div data-id="<%= post.id%>">
  <ul class="titlelists list-group" style="max-width:;">
    <li class="titlelist list-group-item"><a href="/show/<%= post.id%>"><%= post.title %></a>
    <a href="/edit/<%= post.id%>" class="badge badge-primary">編集</a></li>
  </ul>
  </div>
    <%end%>
  </div>
